@page "/education"

<PageTitle>Education</PageTitle>

<MudText Typo="Typo.h1" GutterBottom="true">Education</MudText>

<MudStack Row="true" Wrap="Wrap.Wrap" Style="margin-bottom:2em;">
    <MudImage Style="border-radius: 10px" Fluid="true" ObjectFit="ObjectFit.Cover" Src="/images/umhb-logo.jpg" />
    <div>
        <MudText Typo="Typo.h4">B. S. Computer Science</MudText>
        <MudText Typo="Typo.h5">University of Mary Hardin-Baylor</MudText>
        <MudText Typo="Typo.h5">Belton, Texas</MudText>        
        <MudText Typo="Typo.h5">Class of 2011</MudText>
        <MudLink Href="https://umhb.edu/" Target="_blank">https://umhb.edu</MudLink>
    </div>
</MudStack>

<MudDivider Style="margin-bottom:2em" />

<MudStack Row="true" Wrap="Wrap.Wrap">
    <MudImage Style="border-radius: 10px" Fluid="true" ObjectFit="ObjectFit.Cover" Src="/images/ctc-logo.jpg" />
    <div>
        <MudText Typo="Typo.h4">A. A. Interdisciplinary Studies</MudText>
        <MudText Typo="Typo.h5">Central Texas College</MudText>
        <MudText Typo="Typo.h5">Killeen, Texas</MudText>
        <MudText Typo="Typo.h5">Class of 2007</MudText>
        <MudLink Href="https://www.ctcd.edu/" Target="_blank">https://www.ctcd.edu</MudLink>
    </div>
</MudStack>