@using Resume.Models
@using Resume.Components
@using Resume.Services
@inject IExperienceService ExperienceService

<MudText Typo="Typo.h2" GutterBottom="true">Experience</MudText>

@foreach (var company in _companies)
{
    <div style="margin:2em 0 2em 0;">
        <CompanyComponent Company="@company" />
    </div>

    @foreach (var experience in company?.Experiences ?? [])
    {
        <MudStack Row="true">
            <MudDivider Vertical="true" FlexItem="true" Style="margin-top:10px;margin-bottom:10px;" />
            <div>
                <ExperienceComponent Experience="@experience" />
            </div>
        </MudStack>
    }
}

@code {
    IEnumerable<Company> _companies = [];

    protected override void OnInitialized()
    {
        _companies = ExperienceService.GetCompaniesWithExperience();
    }
}